<div class ="searchBar">
    <div class = "container">
    <form 
    action= "/search" 
    class = "search-form" 
    role ="search" 
    method = "POST">


    <input 
    type="search" 
    aria-label= "Search" 
    id="search-input" 
    name= "searchTerm" 
    placeholder="SEARCH">
    <button type="submit">🔍</button>
  </form>
</div>
</div>